table {
 width: 100%;
 
}

a.edit{
    color: yellow;
    margin-right: 20px;
}
a.delete{
    color: red;
}
::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: white !important;
   }
  
   ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color:black !important;
  } 
  
  ::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color:black !important;;
  }